<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0"> 
<display-name>Welcome to Tomcat</display-name> 
<description> 
Welcome to Tomcat 
</description> 

<servlet> 
	<servlet-name>ShowUsers</servlet-name> 
	<servlet-class>commands.ShowUsers</servlet-class> 
</servlet> 
<servlet-mapping> 
	<servlet-name>ShowUsers</servlet-name> 
	<url-pattern>/ShowUsers</url-pattern> 
</servlet-mapping> 
<servlet> 
	<servlet-name>AddUser</servlet-name> 
	<servlet-class>commands.AddUser</servlet-class> 
</servlet> 
<servlet-mapping> 
	<servlet-name>AddUser</servlet-name> 
	<url-pattern>/AddUser</url-pattern> 
</servlet-mapping> 
<servlet>  
	<servlet-name>AddWorker</servlet-name> 
	<servlet-class>commands.AddWorker</servlet-class> 
</servlet> 
<servlet-mapping> 
	<servlet-name>AddWorker</servlet-name> 
	<url-pattern>/AddWorker</url-pattern> 
</servlet-mapping> 
<servlet> 
	<servlet-name>LogOut</servlet-name> 
	<servlet-class>commands.LogOut</servlet-class> 
</servlet> 
<servlet-mapping> 
	<servlet-name>LogOut</servlet-name> 
	<url-pattern>/LogOut</url-pattern> 
</servlet-mapping> 
<servlet> 
	<servlet-name>LoginUser</servlet-name> 
	<servlet-class>commands.LoginUser</servlet-class> 
</servlet> 
<servlet-mapping> 
	<servlet-name>LoginUser</servlet-name> 
	<url-pattern>/LoginUser</url-pattern> 
</servlet-mapping> 
</web-app>
